[Unit]
Description=Gunicorn instance to serve HylaWEB API
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/HylaWEB/API
Environment="PATH=/opt/HylaWEB/HylaWEBenv/bin"
ExecStart=/opt/HylaWEB/HylaWEBenv/bin/gunicorn --workers 3 --bind unix:HylaWEBapi.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target

