body{
    overflow-y: hidden;
}

#main
{
    top: 25px;
    left: 50px;
    margin-bottom: 25px;
}

#search {
    width: 85%;
    height: 4em;
    margin: auto;
}

.column{
    overflow-y: auto;
    overflow-x: hidden;
    height:calc(100vh - 125px);
    background-color: lightgray;
    padding: 5px;
}

#liste-fax{
    margin-left: 100px; 
    margin-right: 50px; 
}

#liste-fax .card.fax.red{
    box-shadow: 0px 4px 0px 0px #db2828;
}

#liste-fax .card.fax.green
{
    box-shadow: 0px 4px 0px 0px #21ba45;
}

#search-tag .tag.icon{
    margin-top: 0.5em;
}

#type{
    text-align: center;
}

#search .submit.button{
    margin-top: 1.70em;
}

/* Input des dates */
#dates input[name=date] {
    text-align: center;
}

#label-service{
    text-align: center;
}

/** list des destinataires finaux */
#list-tag{
    min-height: 2.5em;
}

#liste-fax .fax.card{
    width:270px;
    cursor: default;
}

#liste-fax .fax.card .header{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#liste-fax .fax.card .image.firstpage-fax{
    height:381px;
}

#liste-fax .fax.card .image.firstpage-fax > img{ 
    border: solid 4px grey;
}

/* TAG */
#liste-fax .fax.card .tag-label{
    margin-right: 0.2em;
    margin-bottom: 0.2em;
}

#liste-fax .fax.card .page{
    margin-right: 0.5em
}

/* message d'erreur liste */
.ui.warning.message{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
}

#liste-fax .fax.card .image.firstpage-fax > img,
#liste-fax .fax.card .file.outline.icon,
#liste-fax .fax.card .avatar
{
    cursor: pointer;

}
