.ui.main.container{
    height: 100%;
}


/** liste des fax */
#liste-fax.sidebar{
    padding-top: 0.5em;
    background-color: darkorange;
}

/** taille d'un fax */
#liste-fax.sidebar .fax.card{
    width: 90%;
}

/** icon pour supprimer un fax de la liste du dimmer */
#liste-fax .fax.card .dimmer i.delete.icon
{
    display: None;
    margin-right: -90%;
}

/** permet de laisser le dimmer en transparent */
#liste-fax .fax.card .dimmer{
    background-color: rgba(0,0,0,0);
}

.column.left
{
    margin-top: 1em;
    overflow-y: auto;   
}

/** items dans les destinataires recents */
.ui.label{
    margin-left: 0.15em;
    margin-bottom: 0.5em;
}

/** ajustement du premier elemnt de la liste */
.ui.label:first-child{
    margin-left: 0.15em;
    margin-bottom: 0.5em;
}

@media only screen and (min-width: 768px) {
    #fax {
        height: 100%;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    #fax{
        height: 500px;
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .main.ui.container {
        min-height: 100%;
    }
}

/** Dropdown ajout manuel */
#menu-add-dest{
    width: 19.2em;
}

/** Numéro des destinataires */
.num-dest{
    font-weight: normal;
    font-style: italic;
}

/** liste des destinataires finaux */
#list-dest{
    min-height: 3.5em;
}

/** list des destinataires finaux */
#list-tag{
    min-height: 2.5em;
}

/** item destinataires */
.ajout, .dest{
    width: 10em;
    height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.right.menu{
    flex-wrap: wrap;
}

/** icones action et destinataires recents et destinataires*/
/** Animation sur les elements destinataires */
.right.menu .item:not(disabled):hover,
.ajout:hover, 
.dest:hover {
    cursor: pointer;
} 

/** Animation sur les elements disbaled */
.ajout.disabled:hover, .sup.disabled:hover{
    cursor: not-allowed;
} 

/** par defaut on cache la page de garde */
#form-garde{
    display: none;
    margin-top: 10px;
}

/** si on a que la page de garde a envoyer on force son affichage */
#form-garde.display{
    display:block;
}

/* message d'erreur liste destinataire */
#list-dest > .ui.warning.message .header,
#list-contact-recent > .ui.info.message .header
{
    margin-left: auto;
    margin-right: auto;
    width: 260px;
}

/* message d'erreur liste contact recent */
#list-contact-recent > .ui.info.message{
    display: none;
}

/* Represente les tags */
.ui.label.tag{
    margin-left: 20px;
    margin-right: 10px;
}

/* Représente la zone de texte de notes */
#notes{
    overflow-y: auto;
    writing-mode: vertical-lr;
    direction: ltr;
    resize: block;
}

#label-date{
    display: none;
    bottom: 8px;
}

.ui.floated.buttons{
   margin-top: 10px;
}

.button.locked{
    opacity: .45;
}

.item.locked{
    opacity: .45;
}