/* 
vert 21ba45
gris 767676
orange f2711c
red db2828
*/
.sprite{
    display: inline-block;
    width: 16px; height: 16px;
    background: url('../images/css_sprites.png') no-repeat;
}

.undefined {
    width: 16px; height: 16px;
    display: inline-block;
    background-color: white;
}

.sprite.ok{
    background-position: 0px 0px;
}

.sprite.delete{
    background-position: -16px 0px;
}

.sprite.clock.grey {
    background-position: -16px -16px;
}

.sprite.clock.orange {
    background-position: -0 -16px;
}

.sprite.download.grey{
    background-position: -32px -0;

}

.sprite.download.green{
    background-position: -32px -16px;
}

.sprite.archive.grey {
    background-position: -16px -32px;
}

.sprite.archive.green {
    background-position: -0 -32px;
}

.sprite.rapport.grey {
    background-position: -32px -32px;
}

.sprite.rapport.green {
    background-position: -48px -0;
}