#pdf 
{
    width : 100%;
    height: 100%;
    border: 0;
}

.ui.menu .item.filter
{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.selector 
{
    width : 10px;
    margin-top: -1em;
    margin-bottom: -1em;
    margin-right: 0.5em;
}

.row 
{
    margin-left: 50px;
    display: flex;
}

.column 
{
    margin-top: 40px;
    flex: 50%;
    height:calc(100vh - 40px);
    overflow-y: auto;
}

.column.right {
    overflow-y: hidden;
}

#liste-fax .action .icon
{ 
    color : white;
}

/* icone ajout des tags */
#liste-fax .large.plus.square.icon
{
    color : white;
}

/** pour l'icone de deplacement de fax et d'archivage on enleve le margin */
#liste-fax >.item .action .move-fax,
{
    margin-right: 0;
}

#liste-fax>.item:first-child 
{
    padding-top: 1em !important;
}

#liste-fax>.item:last-child 
{
    padding-bottom: 1em !important;
}

#liste-fax>.item {
    padding: 1em;
    padding-left: 0;
}

/** Couleur pour le fax qui est selectionné */
#liste-fax .fax.item.selected
{
    background-color: #c7E0F4;
}

/** Couleur pour le fax qui est survolé, conserve la couleur pour le fax selectionné*/
#liste-fax .fax.item:not(.selected):hover
{
    background-color: #eaeaea;
}

/** Couleur du selector pour le fax qui est selectionné */
#liste-fax .item.selected>.selector 
{
    background-color: blue;    
}

#liste-fax .image.avatar
{
    width : 40px;
    height : 40px;
}

/** fax lu */
#liste-fax .fax .lu
{
    font-weight: normal;
}

/** fax non lu */
#liste-fax .fax .non-lu
{
    font-style: italic;
    font-weight:  bold;
}

#liste-fax .fax .archive-fax {
    font-weight: bold;
}

/** Pour les icons qui ne sont pas disabled */
.avatar:hover, .action .icon:not(.disabled), .large.plus.square.icon
{
    cursor: pointer;
}

/** les labels bloqués */
#liste-fax .fax .ui.label.locked
{
    cursor: default;
}

/** Message des modals */
#transfer-mail .content p, #demande-suppression .content p
{
    margin:auto;
    width:260px;
}

/* avatar pour les proprietaires generes par l'automate on laisse sous forme carre */
#liste-fax .fax .automate, #liste-fax .fax .automate img
{
    border-radius: 0;
}

#demande-suppression.modal .actions,
#demande-archivage.modal .actions
{
    text-align: center;
}

/* On cache la partie archive */
#liste-fax .fax .archive-fax:not(.locked)
{
    visibility: hidden;
}

#liste-fax .fax .menu-archive
 {
    width:500px;
}

#demande-archivage .ui.button.toggle.active
{
    background-color: #c0c1c2!important;
}

#demande-archivage input
{
    text-transform: uppercase;
}