{% set active_page = 'Émission' -%} {% set color_nav_bar = 'blue' -%} {% extends 'layout/hylaweb.html' %} {% block content
%}
<script src="{{ url_for('static', filename='js/emission.js') }}?v={{VERSION_JS}}"></script>
<script src="{{ url_for('static', filename='js/hylaweb.lazy.js') }}?v={{VERSION_JS}}"></script>
<link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='css/emission.css')}}">
<link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='css/icon_status.css')}}">


<!-- the content -->
<div class="row">
    <div class="column left">
        <div id="liste-fax" class="ui divided items">
        </div>

        <div class="ui warning hidden message">
            <div class="header">Aucun fax en émission</div>
        </div>
    </div>

    <div id='demande-annulation' class="ui modal mini">
        <div class="ui centered header">
            Annulation du fax
        </div>
        <div class="middle aligned content">
            <h5 class="contenu centered ui header"></h5>
        </div>
        <div id="action" class="actions">
            <div class="ui green ok button">
                <i class="checkmark icon"></i>
                Oui
            </div>
            <div class="ui red deny button">
                <i class="remove icon"></i>
                Non
            </div>
        </div>
    </div>

    <div id='demande-renvoi' class="ui modal mini">
        <div class="ui centered header">
            Annulation du fax
        </div>
        <div class="middle aligned content">
            <h5 class="contenu centered ui header"></h5>
        </div>
        <div id="action" class="actions">
            <div class="ui green ok button">
                <i class="checkmark icon"></i>
                Oui
            </div>
            <div class="ui red deny button">
                <i class="remove icon"></i>
                Non
            </div>
        </div>
    </div>
</div>

{% endblock %}

</html>