{% set active_page = 'Réception' -%} {% set color_nav_bar = 'orange' -%} {% extends 'layout/hylaweb.html' %} {% block content
%}
<script src="{{ url_for('static', filename='js/reception.js') }}?v={{VERSION_JS}}"></script>
<script src="{{ url_for('static', filename='js/hylaweb.lazy.js') }}?v={{VERSION_JS}}"></script>
<script src="{{ url_for('static', filename='js/algo_cle.js') }}?v={{VERSION_JS}}"></script>
<link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='css/reception.css')}}">
<div class="row">
    <div class="column left">

        <!-- TODO CHARGEMENT DES FAX  -->
        <!-- <div id="chargement" class="ui segment">
            <div class="ui loader active">
            </div>
        </div> -->

        <!-- <div class="ui segment">
                <div class="ui active inline centered dimmer">
                    <div class="ui medium text loader">Chargement des fax</div>
                </div>
            </div> -->

        <!-- <div class="ui separator grey attached center aligned inverted segment">
                        Hier.
            </div> -->

        <div id="liste-fax" class="ui divided items"></div>

        <div class="ui warning hidden message">
            <div class="header">Aucun fax en réception</div>
        </div>
    </div>

    <div class="column right" style="background-color:#bbb;">
        <div version="{{VERSION}}" class="ui inline cookie nag">
            <span class="title">
                Mise à jour du 09/07/2018 - Nouvelles fonctionalités :
                <br/>Dans l'écran de suivi des émissions, cette barre d'outils&nbsp;&nbsp;&nbsp;<img src=../static/images/barre_icones_tx.png>&nbsp;&nbsp;&nbsp;été ajoutée sur chaque fax :
                <br/>- consulter le fax envoyé
                <br/><img src="blank.png" style='visibility: hidden; width: 48px; height: 1px'>- consulter le rapport d'émission
                <br/><img src="blank.png" style='visibility: hidden; width: 104px; height: 1px'>- annuler le fax en cours d'envoi ou différé
                <br/><img src="blank.png" style='visibility: hidden; width: 82px; height: 1px'>- renvoyer le fax au même destinataire
                <br/>
                <br/>Pour rappel, la documentation est disponible en cliquant sur
                <a onclick="$('#aide').trigger('click')">
                    <i class="help icon"></i>
                </a> à gauche dans le menu.
                <br/>Pour toute demande concernant la nouvelle version d'Hylafax, veuillez cliquez
                <a href="mailto:lucas.noga@stef.com">ici</a>.
            </span>
            <i class="close icon"></i>
        </div>

        <iframe id="pdf"></iframe>
    </div>

    <div id='demande-archivage' class="ui tiny modal">
        <div class="ui icon header">
            <i class="archive icon"></i>
            <span class="titre"></span>
        </div>

        <div class="middle aligned content">
            <h4 class="contenu centered ui dividing header">
                Veuillez saisir le numéro de position ou le code barre
            </h4>
            <form class="ui form">
                <div class="field">
                    <div class="ui action input">
                        <input type="text" maxLength="14" name="position" placeholder="Numéro de position">
                        <div class="ui compact toggle icon button" name="checkCle">
                            <i class="check icon"></i>
                        </div>
                    </div>
                </div>
                <div class="ui error message"></div>
            </form>
        </div>

        <div class="actions">
            <div class="ui green ok inverted button" tabindex="0">
                <i class="checkmark icon"></i>
                Valider
            </div>
            <div class="ui red deny inverted button">
                <i class="remove icon"></i>
                Annuler
            </div>
        </div>
    </div>

    <div id='demande-suppression' class="ui mini modal">
        <div class="ui icon header">
            <i class="trash icon"></i>
            Suppression de fax
        </div>
        <div class="middle aligned content">
            <h5 class="contenu centered ui header">Etes-vous sûr de vouloir supprimer ce fax ?</h5>
        </div>
        <div id="action" class="actions">
            <div class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                Oui
            </div>
            <div class="ui red deny inverted button">
                <i class="remove icon"></i>
                Non
            </div>
        </div>
    </div>

    <div id='transfer-mail' class="ui tiny modal">
        <div class="ui icon header">
            <i class="envelope icon"></i>
            Envoi par mail
        </div>
        <div class="middle aligned content">
            <p></p>
        </div>
        <div class="actions">
            <div class="ui approve button">
                OK
            </div>

        </div>
    </div>

    <div id='notif' class="ui basic modal">
        <div class="ui icon header">
            <i class="check green icon"></i>
            <span></span>
            <br/>
            <br/>
            <div class="actions">
                <div class="ui positive green button">
                    J'ai bien pris connaissance du message
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
