{% extends 'layout/default.html' %} {% set page_garde = page_garde|default("true") %} {% block title %}:: HylaFax :: {% endblock
title %} {% block head %}

<script src="{{ url_for('static', filename='daterangepicker/daterangepicker.js') }}?v={{VERSION_JS}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/hylasend.css') }}" />
<link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='daterangepicker/daterangepicker.css')}}">
<link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='css/modal_import.css')}}">{% block import %}{% endblock %} {% endblock %} {% set list_dest = dest_recent %} {% block body %}{% block gauche %} {# si
on a u moins un fichier on creer la liste #} {% if files != None %}
<div id="liste-fax" class="ui left vertical labeled icon sidebar small menu overlay visible cards">
    <h3 class="ui dividing header">
        Fichiers joints
    </h3>
    {% for file in files %}
    <div id="{{file}}" file='{{file}}.pdf' class="fax card">
        <div class="image">
            <div class="ui dimmer">
                <i class="delete icon circular inverted black"></i>
            </div>
            {# La source est rensigné côté javascript (hylasend.js) #}
            <img src=""/>
           
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="ui main container stackable two column centered grid">
    <div class="column left">
        <h2 class="ui dividing centered header">Envoi FAX</h2>
        <div class="ui top attached info message">
            <div class="content">
                <div class="header">Destinataires récents</div>
                <p>Cliquez sur le nom d'un destinataire pour l'ajouter à la liste des destinataires du fax.</p>
            </div>
        </div>

        <div class="ui bottom attached segment">
            <div id='list-contact-recent'>
                {% for dict_item in list_dest %}
                <div identifiant="{{dict_item['numdest']}}" class="ui blue label ajout">
                    <span class="nom-dest">{{dict_item['dest']}}</span>
                    </br>
                    <span class="num-dest">{{dict_item['numdest']}}</span>
                </div>
                {% endfor %}
                <div class="ui info message">
                    <div class="header">Vous n'avez pas de contacts récents</div>
                </div>
            </div>
        </div>

        <div class="ui top attached menu">
            <div class="ui aligned category search item" id="recherche-rep">
                <div class="ui transparent icon input">
                    <input class="prompt" placeholder="Recherche annuaire" type="text">
                    <i class="search link icon"></i>
                </div>
            </div>

            <div class="right menu">

                <div class="ui icon item" id="import">
                    <i class="download large icon"></i>
                </div>


                <div class="locked ui icon item" id="export">
                    <i class="upload large icon"></i>
                </div>


                <div class="ui icon item" id="deferred-date">
                    <i class="calendar alternate outline large icon"></i>
                </div>

                <div class="ui dropdown icon item" id="add-manual-dest">
                    <i class="user plus large icon"></i>
                    <div class="menu">
                        <div class="ui basic segment" id="menu-add-dest">
                            <form id="form-dest" class="ui form error">
                                <div class="field">
                                    <div class="ui small left icon input">
                                        <input placeholder="Nom..." maxlength="150" name="nom" type="text">
                                        <i class="users icon"></i>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui small left icon input">
                                        <input placeholder="Fax..." maxlength="30" name="num" type="text">
                                        <i class="fax icon"></i>
                                    </div>
                                </div>
                                <div class="ui disabled fluid primary button submit">Ajouter</div>
                                <div class="item fluid"></div>
                                <!-- item permettant d'afficher le dropdown -->
                                <div class="ui error message"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui bottom attached segment">
            <a id="label-date" class="ui orange ribbon label">
                <i class="icon delete"></i>
            </a>
            <div id="list-dest">
                <div class="ui warning message">
                    <div class="header">Veuillez ajouter des destinataires</div>
                </div>
            </div>
        </div>

        <div id='notif' class="ui basic modal">
            <div class="ui icon header">
                <i class="check green icon"></i>
                <span></span>
            </div>
        </div>

        <div class="ui segment multiple selection icon fluid search dropdown" id="search-tag">
            <i class="tags icon"></i>
            <input type="text" class="search" tabindex="0">
        </div>

        {# si on ne doit afficher la page de garde on met une checkbox #} {% if page_garde != "true" %}
        <div class="field">
            <div id="page-garde" class="ui toggle checkbox">
                <input type="checkbox">
                <label>Page de garde</label>
            </div>
        </div>
        <form id="form-garde" class="ui segment ui form">
            {% else %} {# sinon on affiche d'office la page de garde #}
            <form id="form-garde" class="display ui segment ui form">
                {% endif %}

                <div class="field">
                    <label for="sujet">Sujet</label>
                    <div class="ui input">
                        <input maxlength="100" name="sujet" type="text">
                    </div>
                </div>
                <div class="field">
                    <label>Note</label>
                    <textarea id="notes" rows="3" maxlength="500" name="notes"></textarea>
                </div>
                <div class="ui error message"></div>
            </form>

            <div class="ui floated buttons">
                <button id="waiting-fax" class="ui orange button">Mettre en attente</button>
            </div>

            <div class="ui right floated buttons">
                <button id="send-fax" class="locked ui positive button">Envoyer</button>
                <div class="or" data-text="ou"></div>
                <button id="cancel-fax" class="ui negative button">Annuler</button>
            </div>
    </div>
    {% endblock %} {% block droite %} {% endblock %}

    <div id="modal-envoi" class="ui modal">

        <div class="ui icon header">
            <i class="share icon"></i>
            Confirmation d'envoi
        </div>
        <div class="middle aligned content">
            <h5 class="contenu centered ui header">Vous êtes sur le point d'envoyer un fax comportant
                <span></span>. Êtes-vous sur de vouloir continuer ?</h5>
        </div>
        <div id="action" class="actions">
            <div class="ui green ok button">
                <i class="checkmark icon"></i>
                Oui
            </div>
            <div class="ui red deny button">
                <i class="remove icon"></i>
                Non
            </div>
        </div>
    </div>

    <div id="modal-import" class="ui basic modal">
        <i class="close icon"></i>
        <div class="header">
            Importer des contacts
        </div>

        <div class="content">
            Veuillez déposer un fichier contenant vos contacts sur l'icone ci-dessous.
        </div>

        <div class="image content">
            <div class="ui medium image">
                <div id='holder'>
                    <i class="huge download icon"></i>
                </div>
            </div>
        </div>
    </div>

    <div id='modal-delete' class="ui mini modal">
        <div class="ui icon header">
            {# combiner file et trash #}
            <i class="trash icon"></i>
            Suppression de fichier
        </div>
        <div class="middle aligned content">
            <h5 class="contenu centered ui header">Etes-vous sûr de vouloir supprimer ce fichier joint de la liste ?</h5>
        </div>
        <div id="action" class="actions">
            <div class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                Oui
            </div>
            <div class="ui red deny inverted button">
                <i class="remove icon"></i>
                Non
            </div>
        </div>
    </div>

    <script>
        hylaweb = hylaweb || {}

        hylaweb.session = (function () {
            var self = {}
            self.guid = '{{user.guid_ad}}'
            return self;
        })();
    </script>
    <script src="{{ url_for('static', filename='js/hylasend.js') }}?v={{VERSION_JS}}"></script> {% endblock %}